.cabecalho,.navegacao{
    margin: 0% 10% 0% 10%;
}
.cabecalho{
    background-color: mediumseagreen;
    border-top-left-radius: 0px;
    padding-bottom: 20px;
    clear: right;
}
.imagem-perfil{
    position: relative;
    padding: 0px;
    margin: 20px 0% 0% 18%;
    width: 150px;
}
.imagem-perfil img{
    border-radius: 100px;
    width: 140px;
    height: 140px;
}
header{
    margin: 0px;
    padding: 0px; 
    margin-top: 40px;
}
.nome-perfil{
    text-align: center;
    margin: 10% 0% 0% 4%;
    color: white;
    font-size: 180%;
    clear: right;
}
.info-basica{
    width: 200px;
    margin-left: 3%;
}

.atualizar{
    position: relative;
    display: inline;
    float: right;
    margin-right: 2%;
    padding: 4px 3px;
    border-radius: 3px;
}
.atualizar a{
    border-radius: 3px;
    background-color: white;
    padding: 4px 4px;
    margin: 0px;
    color: #000;
    text-decoration: none;
}
.atualizar a:hover{
    border: solid 1px #000;
}

.navegacao{
    display: block;
    text-align: center;
    background-color: white;
    position: relative;
    padding: 0px 0% 0px 0%;
}

.navegacao li{
    display: inline-table;
    list-style: none;
    position: relative;
    padding: 8px 0px;
    margin: 0px;
    font-size: 17px;
    font-weight: bold;


}
.navegacao li:hover{
    border-bottom: solid 3px;
    border-color: black;
    padding-bottom: 5px; 
}

.navegacao li a{
    color: #666666;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    text-decoration: none;
    padding: 8px 13px;
}
.navegacao li a:hover{
    color: black;
}